<!-- header.component.html -->
<nav class="navbar navbar-expand-md " id="bgHeader">
  <div class="container-fluid">
    <a class="navbar-brand fs-1 text-white" href="channels/1">Slack DE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-white"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li *ngIf="user" class="nav-item  me-2 p-1 m-1">
        <a class="nav-link active p-1 text-light me-2" aria-current="page" [routerLink]="['/channels/1']"> <strong>{{
            user.name
            }}</strong> </a>
      </li>
    </ul>
  </div>


  <div class="sidebarHeader  collapse mx-auto" id="navbarSupportedContent">
    <div id="canaux" class="mb-2  fs-4 text-white">
      <a>
        <strong>
          Canaux
          <i class="fas fa-plus bg-secondary rounded-pill p-1" [routerLink]="['/addChannel']"></i>
        </strong>

      </a>
    </div>

    <div class="nav flex-column nav-pills  p-2 rounded-1" id="sidebarCss">
      <div *ngFor="let channel of channels; let i = index" [routerLink]="['/channels', channel.id]">
        <a class="nav-link text-white" data-bs-toggle="pill" [ngClass]="{'active': i === 0}">{{ channel.name }}</a>
        <hr class="text-white">
      </div>
    </div>
  </div>
</nav>
