#bgHeader{
  background-color:rgb(20, 20, 131) ;
  left: 0;
}


@media(min-width:768px){
  .sidebarHeader{
    display: none;
  }

}


/* css-sidebar */
.nav-link {
  cursor: pointer;
}

#sidebarCss{
  text-align: center;
}


#canaux{
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
  cursor: pointer;

}


.plus-sign {
  font-size: 1.2em;
}


strong i {
  transition: transform 0.3s ease-in-out;
}

strong:hover i {
  transform: scale(1.2);
}


.red {
  color: red;
}
