<p>list-users works!</p>

<h1 class="text-center">Liste des utilisateurs</h1>
<table *ngIf="usersList.length" class="table  table-hover" style="max-width:1500px; margin: 40px auto">
  <thead>
  <tr>
    <th *ngFor="let header of headers">{{header}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of usersList">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>


    <td>
      <button routerLink="/users/edit/{{user.id}}" class="btn btn-info me-2">editer</button>
      <button (click)="delete(user.id)" class="btn btn-danger">supprimer</button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!usersList.length" class="text-center">
  Chargement des données....
</div>