#bgFooter{
  background-color:rgb(20, 20, 131) ;
}

#bgSidebar{
  background-color: rgb(227, 227, 236);
}

#page-content-wrapper {
  /* Pour prolonger le sidebar jus'qu'au footer */
  margin-bottom: 38rem;
}
