<!-- app.component.html -->
<div id="app-container" class="position-relative">
  <app-header class="fs-4"></app-header>
  <div class="d-flex flex-grow-1 position-relative " >
    <app-sidebar class="me-4" id="bgSidebar"></app-sidebar>
    <div id="page-content-wrapper" class="container mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer id="bgFooter" class=" text-white p-3 fixed-bottom w-100">
    <div class="text-center">
      <p>&copy; 2024 Slack DE</p>
    </div>
  </footer>
</div>
