.nav-link {
  cursor: pointer;
}

/* sidebar.component.css */

#sidebarCss {
  width: 10rem; /* Ajustez la valeur selon vos besoins */
}



#canaux{
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
  cursor: pointer;

}


.plus-sign {
  font-size: 1.2em;
}


strong i {
  transition: transform 0.3s ease-in-out;
}

strong:hover i {
  transform: scale(1.2);
}


@media(max-width:768px){
  .test{
    /* padding: 1rem; */
    background-color: red;
    display: none;
  }

}

/* sidebar.component.css */

.offcanvas {
  max-width: 250px; /* ajustez la valeur selon vos besoins */
}


.user-list {
  list-style-type: none;
}
